<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShareBox | <%=folder.name%></title>
  </head>
  <body>
    <a href="/folders"><- Back To Folders</a>
    <h1><%=folder.name%></h1>
    <form
      action="/folders/<%=folder.id%>/upload"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="files" multiple required />
      <button type="submit">Upload</button>
    </form>
    <%if(!files || files.length == 0){%>
      <h1>No Files Yet</h1>
      <p>Start by creating a files using <b>Upload Files</b> button</p>
    <%} else {%>
      <%files.forEach((file) => {%>
        <div style="border: 2px solid black; padding: 2px; margin: 10px 0px; display: flex; justify-content: space-between;">
          <a href="/folders/<%=folder.id%>"><%=file.name%></a>
          <form action="/files/<%=file.id%>/delete" method="post">
            <button type="submit" style="color:white; background-color: red;">Delete File</button>
          </form>
        </div>
      <% }) %>
    <%}%>
  </body>
</html>
